<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Flask App</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css'>
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <!-- <h6>the css link included is from bootstrapCDN</h6> -->
    <div class="container">
    {%block body%}{%endblock%}
    </div>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js'></script>
  </body>
</html>
